.gantt-view
  position: absolute
  height: 100%
  width: 100%
  top: 0;
  left: 0

  & .member
    display: inline-block

  & .card-label
    line-height: 18px


#ganttEl
  position: absolute
  height: 100%
  width: 100%
  top: 0;
  left: 0

  label
    display: inline-block
    margin-right: 5px
  input, select
    display: inline-block
    min-height: 28px
    height: 28px
    margin-bottom: 0

#ganttDatepicker
  position: absolute
  z-index: 100

